<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>
    <h1>Forgot Password</h1>


    <form action="/sendpasswordlink" method="POST">
        <div className="forgotPass">
            <h1>Enter Your Email</h1>
            <input type="text" name="email" onChange={setVal} id="email"
                placeholder="Enter your Email"></input>
            <button className='btn'>Send</button>
        </div>
    </form>
</body>

</html>