<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Page</title>
</head>

<body>
    <h1>Password Reset</h1>


    <form action="/resetpassword" method="POST">
        <div className="forgotPass">
            <h1>Enter Your New Password</h1>

            <input type="text" name="otp" id="otp" placeholder="Enter your OTP"></input>
           
            <input type="password" name="password" id="password" placeholder="Enter your new password"></input>
            
            <input type="password" name="reEnterPassword" id="reEnterPassword" placeholder="Confirm your new password"></input>
           
            <button className='btn'>Send</button>
        </div>
    </form>
</body>

</html>